.swiper-button-next {
  z-index: inherit;
  top: 13%;
  background-image: url('../images/arrow-right.png');
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: center;

  color: red;

}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url('../images/arrow-right_edit.png');
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: center;
  top: 13%;
  right: 0%;
  left: 93%;
}

.swiper-button-prev::after {
  display: none;
}